---
layout: page
title: Services
permalink: /services/
---

{% assign categories = site.services | sort: 'weight' %}
{% for category in categories %}
	<div class="services-category {{ category.format }}">
		<h3>{{ category.title }}</h3>
		{% for subcategory in category.subcategories %}
			<div class="services-subcategory">
				<h4>{{ subcategory.title }}</h4>
				<ul class="item-list">
					{% for item in subcategory.options %}
						<li class="item clearfix">
							<div class="item-name">{{ item.name }}</div>
							<div class="item-price">{{ item.price }}</div>
						</li>
					{% endfor %}
				</ul>
				{% if subcategory.subtext %}
					<div class="sub-text">{{ subcategory.subtext }}</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endfor %}
<div class="disclaimer editable">
  <h4>* These items done at shop rate of $75 per hour:</h4>
  <ul class="disclaimer-list">
    <li>Form Alterations</li>
    <li>Antler and Horn Repair</li>
    <li>Fleshing and Salting</li>
    <li>Miscellaneous Services</li>
  </ul>
  <div>Call for pricing on hide tanning.&nbsp;</div>
  <div>Your taxidermist has no control over any trophy prior to their receiving it for mounting and tanning. Many factors may affect the results, such as condition of skin, time of year and the care given to the trophy when it was killed. Occasionally a skin will not mount or tan or comes apart in the tanning process due to improper handling or some defect in the skin for which your taxidermist cannot be held responsible. Hides should be properly cared for in the beginning. If you have any questions concerning your trophy or our services, please call.</div>
  <div>Prices are subject to change without notice.</div>
</div>