<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.1/picturefill.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')</script>

{% if page.permalink == "/events/" %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="/assets/js/prod/cal.js"></script>
{% endif %}

<script src="/assets/js/prod/masonry.pkgd.min.js"></script>
<script src="/assets/js/prod/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/prod/scripts.js"></script>
<script type="text/javascript" src="/assets/js/prod/header.js"></script>
<script src="/assets/js/dev/jquery.colorbox-min.js"></script>

{% if page.permalink == "/contact/" %}
<script src="/assets/js/prod/contact.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}

{% if site.google_analytics_tracking_id %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics_tracking_id }}');
</script>
{% endif %}