<!DOCTYPE html>
<!--[if lte IE 8]><html class="no-js lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  {% include head.html %}
<body class="{% if page.url != "/" %}{% if page.class %} {{ page.class }} {% endif %}{% endif %}">
  {% include browserupgrade.html %}

  <div class="site-wrap">
    <div class="header-bg"></div>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>

  {% include scripts.html %}
  </body>
</html>
